/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.wysiwyg {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.wysiwyg a {
  color: #2478ff;
}

.wysiwyg a:visited {
  color: #9524ff;
}

.wysiwyg strong {
  color: #111;
}

.wysiwyg blockquote, .wysiwyg ol, .wysiwyg p, .wysiwyg pre, .wysiwyg ul {
  margin-bottom: 1em;
}

.wysiwyg blockquote:last-child, .wysiwyg ol:last-child, .wysiwyg p:last-child, .wysiwyg pre:last-child, .wysiwyg ul:last-child {
  margin-bottom: 0;
}

.wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
  color: #111;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-top: 1em;
}

.wysiwyg h1:first-child, .wysiwyg h2:first-child, .wysiwyg h3:first-child, .wysiwyg h4:first-child, .wysiwyg h5:first-child, .wysiwyg h6:first-child {
  margin-top: 0;
}

.wysiwyg h1 {
  font-size: 2.4em;
  margin-bottom: 0.4166em;
}

.wysiwyg h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.wysiwyg h3 {
  font-size: 1.6em;
  margin-bottom: 0.625em;
}

.wysiwyg h4 {
  font-size: 1.2em;
  margin-bottom: 0.8333em;
}

.wysiwyg h5 {
  font-size: 1.1em;
  margin-bottom: 0.9091em;
}

.wysiwyg h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.wysiwyg code,
.wysiwyg pre {
  background: #eee;
  font-family: "Inconsolata", monospace;
  font-size: 0.8em;
}

.wysiwyg pre {
  overflow: auto;
  padding: 1em 1.2em;
}

.wysiwyg pre code {
  background: transparent;
  font-size: 1em;
}

body {
  margin: 0 auto;
  max-width: 640px;
  padding: 20px;
}
