.wysiwyg {
  line-height: 1.6;
  color: #333;
}

.wysiwyg a {
  color: #2478ff;
  text-decoration: none;
}

.wysiwyg a:hover {
  border-bottom: 1px solid;
}

.wysiwyg abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.wysiwyg cite {
  font-size: 0.9em;
}

.wysiwyg strong {
  font-weight: 700;
  color: #111;
}

.wysiwyg p, .wysiwyg ol, .wysiwyg ul, .wysiwyg blockquote, .wysiwyg pre {
  margin-bottom: 1em;
}

.wysiwyg p:last-child, .wysiwyg ol:last-child, .wysiwyg ul:last-child, .wysiwyg blockquote:last-child, .wysiwyg pre:last-child {
  margin-bottom: 0;
}

.wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
  color: #111;
  font-weight: 700;
  line-height: 1.2;
}

.wysiwyg h1:first-child, .wysiwyg h2:first-child, .wysiwyg h3:first-child, .wysiwyg h4:first-child, .wysiwyg h5:first-child, .wysiwyg h6:first-child {
  margin-top: 0;
}

.wysiwyg h1 {
  font-size: 2.4em;
  margin-bottom: 0.41667em;
  margin-top: 0.83333em;
  line-height: 1;
}

.wysiwyg h2 {
  font-size: 1.8em;
  margin-bottom: 0.55556em;
  margin-top: 1.11111em;
  line-height: 1.1;
}

.wysiwyg h3 {
  font-size: 1.4em;
  margin-bottom: 0.71429em;
  margin-top: 1.42857em;
}

.wysiwyg h4 {
  font-size: 1.2em;
  margin-bottom: 0.83333em;
  margin-top: 1.66667em;
}

.wysiwyg h5 {
  font-size: 1.1em;
  margin-bottom: 0.90909em;
  margin-top: 1.81818em;
}

.wysiwyg h6 {
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
}

.wysiwyg ol,
.wysiwyg ul {
  list-style-position: outside;
  margin-left: 1.2em;
}

.wysiwyg ol {
  list-style-type: decimal;
}

.wysiwyg ul {
  list-style-type: disc;
}

.wysiwyg ul ul {
  list-style-type: circle;
}

.wysiwyg blockquote {
  border-left: 4px solid #ddd;
  color: #666;
  padding: 0.6em 1.2em;
}

.wysiwyg blockquote p {
  margin-bottom: 0;
}

.wysiwyg code,
.wysiwyg pre {
  background: #eee;
  font-family: "Inconsolata", monospace;
  font-size: 0.9em;
  padding: 0.2em 0.5em 0.3em;
}

.wysiwyg pre {
  overflow: auto;
  padding: 1em 1.2em;
}

.wysiwyg pre code {
  background: transparent;
  font-size: 1em;
}
